<!DOCTYPE html>
<html lang="en" >
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Django Home</title>
  
  
  <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>

      <link rel="stylesheet" href="{% static 'sito_tesina/css/style.css' %}">

  
</head>

<body>

  
<header>
  <div class="pseudo-table">
    <div class="pseudo-cell">
      <div class="page-title">
        <h1>Progetto  tesina <div class="django">django</div></h1>
        <div class="more-info">  
          <div><i class="far fa-calendar-alt"></i><span>Anno scolastico 2017/2018</span>
</div>  
          <div><i class="far fa-user"></i><span>Mauro Tellaroli</span></div>  
        </div>
      </div>
      </div>
    </div>
  </div>
</header>
<section class="content" id="content">
  <div class="main-article"><a class="scroll" href="#" data-target="content"></a>
    
    <h3>Cos'è <span class="django">django</span>?</h3>
    <div><span class="django">Django</span> è un <span class="definition">web framework</span> scritto in <span class="python">Python</span><i class="fab fa-python fa-lg"></i>.</div>
    
    <h4 class="definition">Cos'è un web framework?</h4>
    <div>Un web framework è un insieme di componenti (struttura) progettati per semplificare lo sviluppo di applicazioni e siti web.</div>
    
    <h3>Perchè si usa un web framework?</h3>
    <div>I web framework hanno trasformato il mondo dello sviluppo di applicazioni o siti web, in particolar modo per quanto riguarda i tempi di sviluppo in quanto il framework fornisce
    già allo sviluppatore tutti i componenti necessari allo sviluppo. Non ci sarà quindi bisogno di perdere tempo con la scrittura di codice e con i possibili problemi che essa comporta.
    Tra i componenti che un web framework offre ci sono tutti quelli che permottono al sito di funzionare su un web server e interagire 
      con i <span class="definition">"meccanismi"</span> che sono alla base del funzionamento di Internet stesso.</div>
    
    <h3>Come funziona Internet?</h3>
    <div>Vediamo come funziona Intenet e quali sono i <span class="definition">"meccanismi"</span> principali che ci permettono di navigare nel 
      <span class="WWW">W</span>orld<span class="WWW">W</span>ide<span class="WWW">W</span>eb. </div>
    <div>Partiamo dalla definizione di Internet: <br> <i>"Internet è una rete ad accesso pubblico che connette vari dispositivi e terminali 
      in tutto il mondo"</i>.</div><div style="margin-top:10px;">Milioni di metri di cavi collegano in tutto il mondo centinaia di migliaia di macchine, tra qui anche il nostro computer.
      Una struttura complessa e caotica come possiamo vedere:</div>
    <iframe src="https://www.submarinecablemap.com/#/" class="iframe"></iframe>
    <div>
    Ovviamente non è possibile avere un cavo tra ogni macchina collegata a Internet. Per far si allora che un computer ne trovi un altro
    dall'altre parte del mondo attraverso la complicata e gigantesca struttura che Internet rappresenta, questo dovrà passare attraverso
    a molti, molti altri terminali.</div>
    <img src=" {% static 'sito_tesina/img/internet-network.gif' %} " class="img">
    </div>
  </div>
</section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script  src="{% static 'sito_tesina/js/index.js' %}"></script>




</body>

</html>
