<!DOCTYPE html>
<html lang="en" >
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Giochi</title>
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
  <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
</head>

<body>
<header>
  <h1>Database <span>colori</span></h1>
</header>

<div class="div">

    <div class="colonna">
      <div class="form">
        <form method="POST" action="">
        <h2>Inserisci dei colori</h2>
        {% csrf_token %}
        {% for f in form %}
          <p>
            {{f.label_tag}} {{f}}
          </p>
        {% endfor %}
          <input type="hidden" value="Inserisci" name="metodo">
          <input type="submit" value="Inserisci">
        </form>

        <form method="POST" action="">
          <h2>Cerca dei colori</h2>
          {% csrf_token %}
          <p><label for="id_colore">Nome del colore:</label> <input type="text" name="colore" maxlength="30" id="id_colore" /></p>
          <input type="hidden" value="Ricerca" name="metodo">
          <input type="submit" value="Cerca">
        </form>

        <table>
            <tr>
              <th>Codice</th>
              <th>Colore</th>
              <th>Esempio</th>
              <th>Elimina</th>
            </tr>
            {% if not colori %}
            <tr>
              <td colspan="3">Non ci sono Colori</td>
            </tr>
            {% endif %}
            {% for riga in colori %}
            <tr>
              <td>{{ riga.codice }}</td>
              <td>{{ riga.colore }}</td>
              <td style="background-color: {{ riga.codice }} ;"></td>
              <td><a href="" id="cancella"><i class="fas fa-trash-alt"></i></a></td>      
              <script>
                document.getElementById('{{riga.codice}}').setAttribute('href','elimina/{{riga.codice}}'.replace('#',''));
              </script> 
            </tr>
            {% endfor %}
          </table>
          
      </div>
    </div>
    <div class="colonna">
      
      <input type="text" value="Esempio" disabled>

    </div>
</div>

{% if errore == "Esiste già" %}
  <script>
    alert("Il codice è già stato usato");
  </script>
{% endif %}


</body>
</html>
