<!DOCTYPE html>
<html lang="en" >
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Giochi</title>
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
</head>

<body>
<header>
  <h1>Database <span>colori</span></h1>
</header>

<div class="div">

    <div class="colonna">
      <div class="form">
        <form method="POST" action="">
        <h1>Inserisci dei colori</h1>
        {% csrf_token %}
        {% for f in form %}
          <p>
            {{f.label_tag}} {{f}}
          </p>
        {% endfor %}
          <input type="hidden" value="Inserisci" name="metodo">
          <input type="submit" value="Inserisci">
        </form>

        <form method="POST" action="">
          <h1>Cerca dei colori</h1>
          {% csrf_token %}
          <p><label for="id_colore">Nome del colore:</label> <input type="text" name="colore" maxlength="30" id="id_colore" /></p>
          <input type="hidden" value="Ricerca" name="metodo">
          <input type="submit" value="Cerca">
        </form>

        <table>
            <tr>
              <th>Codice</th>
              <th>Colore</th>
              <th>Esempio</th>
            </tr>
            {% if not colori %}
            <tr>
              <td colspan="2">Non ci sono Colori</td>
            </tr>
            {% endif %}
            {% for riga in colori %}
            <tr>
              <td>{{ riga.codice }}</td>
              <td>{{ riga.colore }}</td>
              <td style="background-color: {{ riga.codice }} ;"></td>
            </tr>
            {% endfor %}
          </table>
          
      </div>
    </div>
    <div class="colonna">
      Bello
    </div>
</div>

{% if errore == "Esiste già" %}
  <script>
    alert("Il codice è già stato usato");
  </script>
{% endif %}


</body>
</html>
