<!DOCTYPE html>
<html lang="en" >
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Giochi</title>
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
</head>

<body>
<header>
  <h1>Database <span>colori</span></h1>
</header>

<div class="div">

    <div class="colonna">
      <form method="POST" action="">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Inserisci">
      </form>
      <table>
          <tr>
            <th>Codice</th>
            <th>Colore</th>
            <th>Esempio</th>
          </tr>
          {% if not colori %}
          <tr>
            <td colspan="2">Non ci sono Colori</td>
          </tr>
          {% endif %}
          {% for riga in colori %}
          <tr>
            <td>{{ riga.codice }}</td>
            <td>{{ riga.colore }}</td>
            <td style="background-color: {{ riga.codice }} ;"></td>
          </tr>
          {% endfor %}
        </table>
    </div>

    <div class="colonna">
      Bello
    </div>
</div>

</body>
</html>
